# Database Configuration (Should work whatever values you put here XD)
DB_PORT=your_port_here      # Port number - default for MariaDB is 3306
DB_NAME=your_db_name_here   # Database name - could be anything
DB_USER=not_root            # Database user - avoid using 'root' or it will cause connection issues
DB_PASSWORD=your_password_here  # Replace with your actual database password - could be anything